* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
}

a {
  text-decoration: none;
  color: white;
  transition: all 0.4s;
}

li {
  list-style-type: none;
}

abbr {
  text-decoration: none;
}

strong {
  font-weight: normal;
}

body {
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  font-family: "Robot", sans-serif;
}
body strong {
  color: #3A2883;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
}
@media (max-width: 769px) {
  .header {
    padding: 1em 2em;
  }
}
@media (max-width: 550px) {
  .header {
    padding: 1em;
  }
}
.header-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
}
.header-nav-logo {
  display: flex;
  align-items: center;
}
@media (max-width: 550px) {
  .header-nav-logo h1 {
    display: none;
  }
}
.header-nav-logo img {
  margin-right: 10px;
  height: 30px;
  width: 30px;
}
.header-nav h1 {
  font-size: 25px;
}
.header-nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
}
@media (max-width: 550px) {
  .header-nav ul {
    display: none;
  }
}
.header-nav ul li a {
  display: flex;
  align-items: center;
}
.header-nav ul li a:hover {
  color: #3A2883;
}
.header-nav ul li img {
  margin-right: 10px;
}
.header-sign {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}
.header-sign a:hover {
  color: #3A2883;
}
.header-sign a:last-of-type p {
  border-left: 1px solid #fff;
  padding-left: 10px;
}
.header-sign a:last-of-type p:hover {
  border-color: #3A2883;
}

.aside {
  background-color: #3A2883;
  height: 100vh;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
@media (max-width: 769px) {
  .aside {
    display: none;
  }
}
.aside-title {
  font-size: 52px;
  max-width: 350px;
  text-align: center;
  flex: 3;
  transform: translateY(20vh);
}
@media (max-width: 960px) {
  .aside-title {
    font-size: 45px;
  }
}
.aside-title strong {
  color: rgba(0, 0, 0, 0.9);
  font-weight: 500;
}
.aside-comment {
  font-size: 20px;
  max-width: 300px;
  text-align: center;
  flex: 1;
  transform: translate(6vw, 8px);
}
@media (max-width: 960px) {
  .aside-comment {
    max-width: 200px;
    font-size: 16px;
  }
}
.aside-imagens {
  flex: 1;
  display: flex;
  transform: translate(calc(6vw + 20px), -20px);
}
.aside-imagens div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}
.aside img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.aside .traco1 {
  position: absolute;
  height: 85vh;
  width: 2px;
  background-color: rgba(0, 0, 0, 0.9);
  bottom: 0px;
  left: 5vw;
}
.aside .traco2 {
  position: absolute;
  height: 1.8px;
  width: 10vw;
  background-color: rgba(0, 0, 0, 0.9);
  bottom: 35%;
  left: 5vw;
}
.aside .circulo1 {
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 50%;
  position: absolute;
  top: calc(15vh - 25px);
  left: calc(5vw - 25px);
  color: white;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aside .circulo2 {
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 50%;
  position: absolute;
  bottom: calc(35% + 75px);
  right: 7vw;
  color: white;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body-content {
  display: flex;
}
.body-content .main {
  max-width: 55%;
  width: 100%;
  height: 100vh;
}
@media (max-width: 769px) {
  .body-content .main {
    max-width: 100%;
    margin-bottom: 40px;
    height: unset;
  }
}
.body-content .main-title {
  font-size: 45px;
  text-align: center;
  margin: 1.5em 1em;
}
.body-content .main-title strong {
  color: #3A2883;
}
.body-content .main-form {
  max-width: 460px;
  width: 100%;
  margin: 0 auto;
  text-align: start;
}
@media (max-width: 769px) {
  .body-content .main-form {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }
}
.body-content .main-form-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (max-width: 769px) {
  .body-content .main-form-content {
    width: 300px;
  }
}
.body-content .main-form-content label {
  font-size: 30px;
}
.body-content .main-form-content input {
  max-width: 455px;
  width: 100%;
  height: 58px;
  border-radius: 8px;
  padding-left: 10px;
  font-size: 20px;
  caret-color: #3A2883;
}
@media (max-width: 769px) {
  .body-content .main-form-content input {
    max-width: 300px;
    height: 50px;
  }
}
.body-content .main-form-submit {
  max-width: 455px;
  width: 100%;
  height: 58px;
  border-radius: 8px;
  padding-left: 10px;
  font-size: 20px;
  caret-color: #3A2883;
  display: block;
  margin: 45px auto 34px;
  background-color: #3A2883;
  font-size: 20px;
  color: #fff;
  transition: all 0.4s;
  cursor: pointer;
}
@media (max-width: 769px) {
  .body-content .main-form-submit {
    max-width: 300px;
    height: 50px;
  }
}
.body-content .main-form-submit:hover {
  filter: drop-shadow(0.5px 0.5px 2px #fff);
}
.body-content .main-form-check input[type=checkbox] {
  width: 1px;
  height: 1px;
  opacity: 0;
}
.body-content .main-form-check input[type=checkbox]:checked + span::before {
  content: "";
  border: 2px solid;
  width: 5px;
  height: 5px;
  border-color: transparent #fff #fff transparent;
  top: 1px;
  left: 3px;
  position: absolute;
  transform: rotate(35deg);
  background-color: transparent;
  z-index: 1;
}
.body-content .main-form-check input[type=checkbox]:checked + span::after {
  content: "";
  position: absolute;
  background-color: #3A2883;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 0;
}
.body-content .main-form-check span {
  width: 15px;
  height: 15px;
  border-radius: 2px;
  background-color: #bbb;
  display: inline-block;
  position: relative;
}

/*# sourceMappingURL=LoginPage.css.map */
