$bg-color: rgba(0,0,0,0.9);
$bg-menu: #000;
$bg-menu-curso: #383B3E;
$primary-color: #fff;
$bg-card: linear-gradient(#3A2883, rgba(0,0,0,0.8));
$easy: #1BB13C;
$intermediary: #C6A707;
$hard: #B11B1B;
$family: 'Robot', sans-serif;
$bg-card: #F8F9FD;
$second-color: #5840BA;
$text-color: #383B3E;
$title-size: 1.5rem;
