@use '../mixins.scss';
@use '../variables.scss';

.body-content {

    #mainCadastro{
        height: unset;
    }
    .main {
        max-width: 75%;
        width: 100%;
        height: 100vh;
        position: relative;
        left: 25%;
        padding: 1em;      

        @include mixins.pc {
            height: unset;
        }

        @media (max-width: 850px) {
            max-width: 100%;
            position: static;
            margin-bottom: 40px;
            height: unset;
            padding: 0px;
        }
        @include mixins.cell {
            padding: 0;
        }

        &-title {
            font-size: 2.3rem;
            padding: 1em 0;
            line-height: 1.2;
            font-weight: bold;
        }

        .title {
            padding: 1em;
        }

        .first-section {
            padding: 0 2.8em;  
            @include mixins.cell {
                padding: 1em;
            }
            table, td, th {
                border: 1px solid #171717;
                padding: .8em;
                background-color: #f3f3f3;
                color: #000;
                border-radius: 10px;
            }
            table {
                width: 100%;
                border-collapse: collapse;
               
            }
            .hipperlink{
                float: right;
                padding-left: 16px;
                border-radius: 10px;

                @include mixins.cell {
                    width: 100%;
                    padding-left: 0;
                }
            }
            .img-curso {
                max-width: 700px;
                width: 100%;
                border-radius: 10px;
            }

            .lista-curso {
                padding: 0 1em;
                margin-bottom: 20px;
                &-item {
                    list-style-type: disc;
                    list-style-position: inside;
                    font-size: 1.1em;
                    line-height: 1.6;
                    color: silver;
                }
            }
            .lista-curso2 {
                padding: 0 1em;
                margin-bottom: 30px;
                &-item {
                    list-style-type:decimal;
                    list-style-position: inside;
                    font-size: 1.1em;
                    line-height: 1.6;
                    color: silver;
                }
            }
            .maior {
                font-size: 1.9em;
            }
            .iframe-codepen {
                max-width: 700px; 
                width: 100%; 
                height: 300px; 
                @include mixins.flex-center;
                border: 2px solid; 
                margin: 1em 0; 
                padding: 1em;
            }
            .purple {
                color: variables.$second-color;
                display: inline-block;
            }
            &-subtitle{
                font-size: 2em;
                margin: 1em 0;
                line-height: 1.2;
                font-weight: bold;
            }
            &-cite {
                background-color: rgba(85, 82, 82, 0.3);
                padding: 1em;
                border-left: 5px solid variables.$second-color;
                padding-left: 10px;
                margin: 2em 0;
            }

            &-text{

                margin: 1em 0;
                line-height: 2em;
                font-size: 18px;
                color: silver;
            }
            
        }

        
    }
}