:root{
  --white: #ffffff;
  --whiteOpacity: rgba(255, 255, 255, .1);

  --green: #1EC781;

  --blue: #1EB5A7;

  --greenBackground: #FBFBFC;
  --linearBackground: linear-gradient(237.86deg, #29AB67 20.94%, #296DAB 184.24%);
  
  --dark-100: #222427;
  --dark-50: #333333;
  --dark-30: ##505050;
  --dark-10: #54585D;
  --dark-0: #969CA5;
}